.voices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background-repeat: no-repeat;
    padding: 23px;
}

audio {
    width: 100%;
    outline: none;
    margin-top: 16px;
}
.voice-card:hover {
    box-shadow: #777777;
}
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(35,33,35,0.9);
}

.modal-content {
    position: absolute;
    top: 50%;
    color: #908f90;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(54 ,53, 55);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 90%;
}
.title-content{
    display: flex;
    justify-content: space-between;
    margin:10px
}
.card-name{
    color:#6f7082 ;
}
.error-msg{
    color:red;
    font-size: 14px;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

h2 {
    margin-top: 0;
}
body{
    height: 100vh;
    background: rgb(35,33,35);
    background-size: cover;
}
input {
    width: 100%;
    padding: 8px 4px;

    border: 1px solid #ccc;
    border-radius: 4px;
}
.modal-input{
    color:white;
    /*background: black;*/
    background-color: #3d3c3c;
    font-size:14px;
    font-weight: normal;
    width: 100% !important;
    min-height: 200px;
    border:1px solid black;
    border-radius: 5px;
    padding:15px;
}
.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all;
    margin-bottom: 20px;
}

.submit-btn:hover {
    opacity: 0.8;
}

/* Show the modal when active */
.modal.active {
    display: block;
}
.card-container {
    width:300px;

}
.card-front:hover{
    box-shadow: rgba(139, 139, 139, 0.1) 0px 6px 12px, rgba(131, 131, 131, 0.1) 0px 12px 30px, rgba(130, 130, 130, 0.1) 0px 12px 50px;
}

audio::-webkit-media-controls-panel {
    /*background-color: rgb(54 ,53, 55);*/
    background-color: #3d3c3c;
    color: #908f90;
    border-radius: 10px;
}
audio::-webkit-media-controls-play-button{
    background-color: #96949f;
    border-radius: 50%;
    color: white;
}
audio::-webkit-media-controls-timeline{
    color: #312b41;
    /*background:#312b41 ;*/
}

.audio-container{
    display: flex;
    align-items: center;
    border-top: 3px solid #ebeef2;
}

.refreshIcons{
    width: 20px;
    margin-top: 12px;
    margin-right: 12px;
}
.downloadIcons{
    width: 20px;
    margin-top: 15px;
}
.card-front {
    color: #908f90;
    background-color: rgba(54 ,53, 55, 0.5);
    display: flex;
    text-align: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    transition:0.5s all;
}
label{
    font-weight: bold;
}
.user-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /*filter: brightness(0.7);*/
}
.user-profile{
    border-radius: 50%;
    background: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    /*outline: 5px solid hsl(0, 0%, 60%);*/
    /*box-shadow: 0 0 0 10px hsl(0, 2.47%, 17.2%), 0 0 0 15px hsl(0, 0%, 46.49%);*/
    outline: 5px solid hsl(0, 0%, 62.24%);
    box-shadow: 0 0 0 10px hsl(0, 1.47% ,44.1%), 0 0 0 15px hsl(0, 1.7% ,30.23%);

}
.play-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 45%;
    bottom: 85px;
    border: 1px solid #ffffff;
}
.profile-name {
    margin-top: 10px;
    text-align: center;
}
.user-details p {
    font-weight: bold;
}

*{
    box-sizing: border-box;
}
.mainContainer{
    margin:0 20px;
    width:100%;
}
.containers{
    display: flex;
    flex-direction: column;
    height: 718px;
    justify-content: center;
}
h2.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px
}
.Card {
    padding: 1px;
    margin:0 auto;
    border-radius: 15px;
    width: 640px;
}
@media screen and (max-width: 640px) {
    .Card{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .Card{
       margin:0
    }
}
.CardInner {
    padding: 16px 16px;
    border-radius: 15px;
    background-color: rgba(54 ,53, 55, 0.5);
}

.container {
    display: flex;
}

.Icon {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
svg {
    transform: translate(-1px, -1px);
}

label {
    display: block;
    color: #e5e4e5;
    margin-bottom: 12px;
}

.InputContainer {
    width: 100%;
}

input {
    background-color: transparent;
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    outline: none;
    color: #e5e4e5;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
}

textarea {
    background-color: rgb(57,56,57);
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    outline: none;
    color: #e5e4e5;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
}

.InputContainer {
    position: relative;
    overflow: hidden;
}
.category ,.labels{
    margin:0;
}
.subDetail{
    margin: 35px 0 10px;
    text-align:  center;
}

body {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100vh;*/
    /*overflow: hidden;*/
    /*background: linear-gradient(to bottom right, #b968c5, skyblue);*/
}
.audio-player {
    height: 50px;
    width: 100%;
    font-family: arial;
    margin-top: 55px;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
    display: grid;
    grid-template-rows: 6px auto;
}
.audio-player .timeline {
    background: rgba(255, 255, 255, 1);
    width: 100%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
}
.audio-player .timeline .progress {
    background: coral;
    width: 0;
    border-radius: 10px;
    height: 100%;
    transition: 0.25s;
}
.audio-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px;
}
.audio-player .controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
.audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 99px;
    height: 0;
    width: 0;
    border: 7px solid #0000;
    border-left: 13px solid white;
}
.audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1);
}
.audio-player .controls .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 99px;
}
.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
}
.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 8px;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
}
.audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
}
.audio-player .controls .time {
    display: flex;
}
.audio-player .controls .time > * {
    padding: 2px;
}
.audio-player .controls .volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
    height: 26px;
    display: flex;
    align-items: center;
}
.audio-player .controls .volume-container .volume-button .volume {
    transform: scale(0.7);
}
.audio-player .controls .volume-container .volume-slider {
    position: absolute;
    left: -3px;
    top: 15px;
    z-index: -1;
    width: 0;
    height: 15px;
    background: white;
    box-shadow: 0 0 20px #000a;
    transition: 0.25s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
    background: coral;
    height: 100%;
    width: 75%;
}
.audio-player .controls .volume-container:hover .volume-slider {
    left: -123px;
    width: 120px;
}

.header {
    overflow: hidden;
    background-color: transparent;
    padding: 20px 10px;
    border-bottom: 1px solid white;
    display: flex;
    gap: 40px;
}

/* Style the header links */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    cursor: pointer;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header div.logo {
    font-size: 25px;
    font-weight: bold;
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    cursor: pointer;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: rgba(54 ,53, 55, 0.5);
    color: white;
}

/* Float the link section to the right */
.header-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    /*float:right;*/
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        display: flex;
        flex-direction: column;
    }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
.footer-distributed {
    border-top: 1px solid white;
    background-color: transparent;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100% !important;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 20px 200px;
    display: flex;
    align-items: center;
    font-family: Poppins, sans-serif;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
    /*max-width: 500px;*/
}
/* Footer links */

.footer-distributed div.footer-links {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}
.footer-nav{
    display: flex;
    flex-direction: column;
    max-width: 500px;

}
.footer-nav div {
    padding:15px 0px 2px 5px;
    border-bottom: 0.5px solid #333;
    cursor: pointer;

}
.footer-nav div:hover{
    text-decoration: underline;
}
.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}
.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
    .header, .header-right{
        display: flex;
        flex-direction: column;
    }
    .searchbar{
        display: none;
    }
}

#loom-companion-mv3{
    display: none;
}

.footer-left {
    width:100%;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 800px) {
    .footer-distributed{
        padding:20px 50px;
    }
    .header{
        gap:20px
    }
}

#loom-companion-mv3{
    display: none;
}

section {
    width: 100%;
    display: inline-block;
    /*background: #ccc;*/
    height: 718px;
    /*text-align: center;*/
    font-size: 22px;
    font-weight: 700;
    /*text-decoration: underline;*/
    color: #908f90;
    text-align: justify-all;
}



.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: left;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

.footerPages{
    cursor: pointer;
}
.footerPages:hover{
    text-decoration: underline;
}

@media (max-width: 700px) {

    .containers{
        height: auto;
    }
}